<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b1>Hello World</b1>
    <p>Data from database `SELECT * FROM user`: <span id="db_output"></span></p>
    <p>Data from database `SELECT * FROM user where id=1`: <span id="db_output_2"></span></p>
    <script>
        var data1 = "<%= data1 %>";
        var data2 = "<%= data2 %>";

        document.getElementById('db_output').innerHTML = data1;
        document.getElementById('db_output_2').innerHTML = data2;

    </script>
</body>
</html>